{% extends 'base.html.twig' %}

{% block title %}Changer mon mot de passe{% endblock %}

{% block body %}
<section class="padding-large">
  <div class="container">
    <h2>Changer mon mot de passe</h2>

    {{ form_start(form) }}
      {{ form_row(form.currentPassword) }}
      {{ form_row(form.newPassword.first) }}
      {{ form_row(form.newPassword.second) }}

      <button type="submit" class="btn btn-primary mt-3">Mettre à jour</button>
    {{ form_end(form) }}

    <a href="{{ path('app_account') }}" class="btn btn-link mt-3">← Retour au profil</a>
  </div>
</section>
{% endblock %}
